<div class="container d-flex flex-column align-items-center">
  <div class="video-call"
        data-controller="video-call"
        data-video-call-access-token-value="<%= @twilio_jwt %>"
        data-video-call-room-id-value="<%= @room_id %>"
        data-video-call-buddy-video-width-value="640">
    <div data-video-call-target="buddyVideo"></div>
    <div data-video-call-target="localVideo"></div>

    <div>
      <%= link_to '#',class: 'call-button btn-start-call',
                    data: {
                      action: 'click->video-call#joinCall',
                      video_call_target: 'joinCallButton'
                    } do %>
                      <button class="btn-orange">I'm ready!</button>
                    <% end %>
    </div>
    <div>
      <%= link_to root_path do %>
        <button class="btn-orange">I'm not ready</button>
      <% end %>
    </div>
    <div>
      <%= link_to '#THE REVIEW PATH',
                    class: 'call-button btn-end-call d-none',
                    data: {
                      action: 'click->video-call#endCall',
                      video_call_target: 'endCallButton'
                    } do %>
                      <i class="fa-solid fa-xmark"></i>
                    <% end %>
    </div>
  </div>
</div>

<!--
    <div class="no-call" data-video-call-target="noCall">
      <%= @user.username %>
    </div>
    <div class="d-none" data-video-call-target="awaitingBuddy">
      <%= @user.first_name %>
      <p>connecting...</p>
    </div>
    <div class="d-none" data-video-call-target="connectedBuddy">
      <p>Connected with <%= @user.first_name %>...</p>
    </div>
-->
