<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-start">
  <h2>Edit Profile</h2>
  <div class="review-form-container w-75">
    <%= simple_form_for :user_language, method: :post, html: { class: "w-100 p-1" }, url: add_user_language_path do |f| %>
      <%= f.label :user_languages, 'My Languages*' %>
      <%= f.input :user_languages,
                  required: true,
                  label: false,
                  collection: Language.all,
                  input_html: {multiple: true, include_blank: false, data: {controller: "tom-select", tom_select_options_value: {tags: true, items: resource.languages.map(&:id)}}} %>
      <%= f.submit "Save Changes", class: "btn-orange" %>
    <% end %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-100 p-1" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <%# <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        <%# <% end %>

        <%= f.label :username, 'Username*' %>
        <%= f.input :username,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "username" } %>
        <%= f.label :first_name, 'First Name*' %>
        <%= f.input :first_name,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "given-name" } %>
        <%= f.label :last_name, 'Last Name*' %>
        <%= f.input :last_name,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "family-name" } %>
        <%= f.label :gender, 'Gender' %>
        <%= f.input :gender,
                    required: false,
                    label: false,
                    input_html: { class: "bg-light" },
                    collection: ["male", "female", "prefer not to say"] %>
        <%= f.label :password, 'New Password' %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    placeholder: "Leave blank if no change",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.label :password_confirmation, 'Confirm new password' %>
        <%= f.input :password_confirmation,
                    required: false,
                    label: false,
                    placeholder: "Leave blank if no change",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    required: true,
                    placeholder: "Enter current password to confirm changes",
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions btn-orange">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
  </div>

  <h5>Cancel my account</h5>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn-orange" %></div>

  <%= link_to "Back", user_path(current_user), class: "btn-orange"%>
</div>
