<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-flex" %>
    <% else %>
      <%= image_tag "https://th.bing.com/th/id/OIP.ZT-Tw8tYy38htqch69vsGQAAAA?pid=ImgDet&rs=1", class: "avatar-flex" %>
    <% end %>
    <div>
      <h2><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
    </div>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn-orange" %>
    <% if @user.highly_rated? %>
      <div class="review-form-container">
        <p class="m-0">Highly rated! (insert badge icon)</p>
      </div>
    <% end %>
    <div class="review-form-container my-2">
      <h4 class="m-0"><%= @user.first_name.capitalize %>'s Languages:</h4>
      <% @user.languages.each do |language| %>
        <p class="m-0"><%= language.name.capitalize %></p>
      <% end %>
    </div>
    <%= link_to "Back to All Friends", friendships_path, class: "btn-orange" %>
  </div>
</div>

<!--
  <%= form_tag("/friendships", method: 'post') do%>
  <%= hidden_field_tag 'friend_id', @user.id %>
  <%= submit_tag("Add Friend") %>
  <% end %>
-->
