<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-start animate__animated animate__backInRight animation-content animate__faster">
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75">
    <div class="d-flex flex-column align-items-center justify-content-center my-4 w-100">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-flex" %>
      <% else %>
        <%= image_tag "https://th.bing.com/th/id/OIP.ZT-Tw8tYy38htqch69vsGQAAAA?pid=ImgDet&rs=1", class: "avatar-flex" %>
      <% end %>
      <div class="my-2">
        <h2 class="text-center"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
      </div>
    </div>
    <% status = current_user.friendship_status(@user) %>
    <% case status %>
      <% when 'pending' %>
      <!-- is current user participant 1? i.e. sender of request - cancel-->
        <% if current_user.sent_request?(@user) %>
          <%= form_tag("/friendships", method: 'delete') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Cancel Friend Request", class: "btn-orange") %>
          <% end %>
        <!-- is user participant 1? reject or accept (two buttons)-->
        <% else %>
          <!-- accept button -->
          <%= form_tag("/friendships", method: 'patch') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Accept Friend Request", class: "btn-orange") %>
          <% end %>
          <!-- reject button -->
          <%= form_tag("/friendships", method: 'delete') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Decline Friend Request", class: "btn-orange") %>
          <% end %>
        <% end %>
      <% when 'accepted' %>
        <% if @user.highly_rated? %>
        <div class="review-form-container">
          <%= image_tag("highly-rated.jpg", size: "25x40") %>
          <p class="m-0">Highly rated!</p>
        </div>
        <% end %>
        <div class="review-form-container my-2">
          <h4 class="m-0"><%= @user.first_name.capitalize %>'s Languages:</h4>
          <% @user.languages.each do |language| %>
            <p class="m-0"><%= language.name.capitalize %></p>
          <% end %>
        </div>
      <!-- remove friend button -->
        <%= form_tag("/friendships", method: 'delete') do%>
          <%= hidden_field_tag 'friend_id', @user.id %>
          <%= submit_tag("Remove Friend", class: "btn-orange") %>
        <% end %>
    <!--If they are not friends already-->
    <% else %>
      <p>You cannot view this profile.</p>
    <% end %>
    <%= link_to "Back to All Friends", friendships_path, class: "btn-orange" %>
  </div>
</div>
