<h1> Your friends list </h1>

  <% @friendships_and_buddies.each do |friend| %>
  <div class="chat" >
    <% @user = User.find(friend[:buddy].id) %>
    <%= cl_image_tag @user.photo.key, height: 50, width: 50, crop: :fill , :style => "border-radius: 5px"%>
    <%= link_to friend[:buddy].first_name + " " + friend[:buddy].last_name, user_path(@user) %>
    <%# Status: <%= friend[:friendship].status %>
    <div class="lastmsg">
      <% arr = [] %>
      <% @messages.each do |msg| %>
        <%  if msg.friendship_id  == friend[:friendship].id %>
          <% arr.push(msg) %>
        <% end %>
      <% end %>
      <%# <%= link_to "open chat" , friendship_path(friend[:friendship].id)%>
      <%  if arr != []%>
        <div class="items">
            <%= render 'message_preview', message: arr.last[:content], friendship: friend[:friendship], arr: arr %>
        </div>
        <%# <% if arr.last.user_id == current_user.id %>
          <%# <p></em> - You</p> %>
        <%# <% else %>
          <%# <div data-last-message-target="items"> %>
            <%# <p> - <%= arr.last.user.first_name %>
          <%# </div> %>
        <%# <% end %>

        <%# <% if arr.last.created_at.to_date == Date.today%>
          <%# <p>Today <%= arr.last.created_at.strftime(" %l:%M %p")%>
        <%# <% else %>
          <%# <p><%= arr.last.created_at.strftime("%a %b %e at %l:%M %p")%>
        <%# <% end %>

      <% else %>
        <p><%= link_to "No messages",  friendship_path(friend[:friendship].id)%></p>
      <%end %>


      </div>
    </div>
  <% end %>


 <%= link_to "Back to Home", root_path, class: "btn-orange" %>

