<div class="container" data-controller="friendship-subscription"
  data-friendship-subscription-friendship-id-value="<%= @friendship.id %>"
  data-friendship-subscription-current-user-id-value="<%= current_user.id %>"
>
  <% if @friendship.status == "accepted"%>
   <h4> Friend </h4>
  <% elsif @friendship.status == "pending"%>
    <h4> Request Sent </h4>
  <% else %>
   <h4>Not Friend</h4>
  <% end %>
  <div class="messages" data-friendship-subscription-target="messages">
    <% @friendship.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "messages/chat_form", friendship: @friendship, message: @message %>
</div>
