<div class="container w-100 h-100 d-flex flex-column align-items-center justify-content-center animate__animated animate__backInRight animation-content animate__faster">
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75">
    <h1 class="text-center pt-20">Choose your language:</h1>
    <div class="button-container">
      <div class="form" data-controller="session-language">
        <%= form_tag update_language_url, method: :patch do %>
          <% @user_languages.each do |user_language| %>
            <div class= "checkbox"><%= check_box_tag 'user_language_ids[]', user_language.id, false, data: { action: "click->session-language#disable", session_language_target: 'checkbox'} %>
              <p><%= user_language.language.name.capitalize %></p>
            </div>
          <% end %>
            <div class="lounge-button">
              <%= submit_tag 'Take me to Lounge!', class: "btn-orange", disabled: true, data: { session_language_target: 'button' }%>
          <% end %>
            </div>
      </div>
    </div>
      <%= link_to "Back to Home", root_path, class: "btn-orange" %>
  </div>
</div>
