<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center animate__animated animate__backInRight animation-content animate__faster">
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75">
    <div class="d-flex flex-column align-items-center justify-content-center my-4 w-100">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-flex" %>
      <% else %>
        <%= image_tag "https://th.bing.com/th/id/OIP.ZT-Tw8tYy38htqch69vsGQAAAA?pid=ImgDet&rs=1", class: "avatar-flex" %>
      <% end %>
      <div class="my-2">
        <h2 class="text-center"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
      </div>
    </div>
    <div class="review-form-container" data-controller="review-buttons">
      <h4 class="text-center">Rate your experience</h4>
      <%= render "review_buttons", session: @session, review: @review, user: @user %>
    <%= link_to "Continue", root_path, class: "btn-orange" %>
  </div>
</div>

<!-- Review form
<div class="container">
  <div class="rating-card">
    <h2>Rate your experience!</h2>
    <% unless current_user.is_friend?(@user) %>
      <%= form_tag("/friendships", method: 'post') do%>
        <%= hidden_field_tag 'friend_id', @user.id %>
        <%= submit_tag("Add Friend") %>
      <% end %>
    <% end %>
  </div>

  <div class="friend-request">
    <% if current_user.is_friend?(@user) %>
      <% status = current_user.friendship_status(@user) %>
       <% case status %>
         <% when 'pending' %>

          <% if current_user.sent_request?(@user) %>
            <%= form_tag("/friendships", method: 'delete') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Cancel Friend Request") %>
            <% end %>

          <% else %>

            <%= form_tag("/friendships", method: 'patch') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Accept Friend Request") %>
            <% end %>
          <% end %>
        <% when 'accepted' %>
          <p>You are already friends</p>
        <% end %>
    <% else %>
      <h4>Send Friend Request</h4>
        <%= form_tag("/friendships", method: 'post') do%>
        <%= hidden_field_tag 'friend_id', @user.id %>
        <%= submit_tag("Add Friend") %>
        <% end %>
    <% end %>
  </div>

  <div class="home-link">

    <%= link_to "Back to Lounge", root_path %>
  </div>
</div>
-->
