<!-- Review form -->
<div class="container">
  <div class="rating-card">
    <h2>Rate your experience!</h2>
    <%= simple_form_for [@session, @review], url: new_review_path(@session) do |f| %>
      <%= f.input :rating, as: :radio_buttons, collection: 1..5 %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <!-- Add friend button -->
  <div class="friend-request">
    <% if current_user.is_friend?(@user) %>
      <% status = current_user.friendship_status(@user) %>
       <% case status %>
         <% when 'pending' %>
    <!-- is current user participant 1? i.e. sender of request - cancel-->
          <% if current_user.sent_request?(@user) %>
            <%= form_tag("/friendships", method: 'delete') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Cancel Friend Request") %>
            <% end %>
          <!-- is user participant 1? reject or accept (two buttons)-->
          <% else %>
            <!-- accept button -->
            <%= form_tag("/friendships", method: 'patch') do%>
            <%= hidden_field_tag 'friend_id', @user.id %>
            <%= submit_tag("Accept Friend Request") %>
            <% end %>
          <% end %>
        <% when 'accepted' %>
          <p>You are already friends</p>
        <% end %>
    <% else %>
      <h4>Send Friend Request</h4>
        <%= form_tag("/friendships", method: 'post') do%>
        <%= hidden_field_tag 'friend_id', @user.id %>
        <%= submit_tag("Add Friend") %>
        <% end %>
    <% end %>
  </div>

  <div class="home-link">
  <!-- Go back to lounge (roulette)-->
    <%= link_to "Back to Lounge", root_path %>
  </div>
</div>
